

<div th:fragment="headerFragment">
    <nav>

        <ul class="nav__food">
            <img class="logo" th:src="@{/images/breez-logo.png}" alt="Logo" />
            <li>
                <a href="#inicio">
                    <img src="https://cdn-icons-png.flaticon.com/128/2163/2163350.png" alt="">
                    <span>Início</span>
                </a>
            </li>

            <li>
                <a href="#usuarios">
                    <img src="https://cdn-icons-png.flaticon.com/128/14812/14812724.png" alt="">
                    <span>Usuários</span>
                </a>
            </li>

            <li>
                <a href="#riscos">
                    <img src="https://cdn-icons-png.flaticon.com/128/14751/14751643.png" alt="">
                    <span>Áreas de riscos</span>
                </a>
            </li>

            <li>
                <a href="#conhecimento">
                    <img src="https://cdn-icons-png.flaticon.com/128/14750/14750369.png" alt="">
                    <span>Conhecimentos</span>
                </a>
            </li>

        </ul>
    </nav>
</div>