<!-- src/main/resources/templates/fragments/header.html -->
<div th:fragment="headerFragment">
    <nav>
        <ul class="nav__food">
            <img class="logo" th:src="@{/images/breez-logo.png}" alt="Logo" />
            <li>
                <a th:href="@{/}">
                    <img src="https://cdn-icons-png.flaticon.com/128/1865/1865269.png" alt="">
                    <span>Mapas</span>
                </a>
            </li>
            <li>
                <a th:href="@{/conhecimento}">
                    <img src="https://cdn-icons-png.flaticon.com/128/14750/14750369.png" alt="">
                    <span>Conhecimentos</span>
                </a>
            </li>
            <li>
                <a th:href="@{/emergency}">
                    <img src="https://cdn-icons-png.flaticon.com/128/14751/14751643.png" alt="">
                    <span>Emergência</span>
                </a>
            </li>
            <li>
                <a th:href="@{/stats}">
                    <img src="https://cdn-icons-png.flaticon.com/128/14812/14812724.png" alt="">
                    <span>Estatísticas</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

